*{
    margin:0
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.box{
    border: solid black 1px;
    background-color: blue;
    width:200px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}