.border{
    border:solid black 1px
}


.box1{
    background-color: green;
    width:80%;
    height:100px;
}
.box2{
    background-color: purple;
    width:40%;
    height:100px;
}
.box3{
    background-color: blue;
    width:20%;
    height:100px;
}