.box{
    border:solid 2px black;
    width:200px;
    height:200px;

}
.box0{
    background-color: aqua;
}
.box1{
    margin-left: auto;  /* margin left and right for center*/
    margin-right: auto;
    background-color: red;
}
.box2{
    margin-left: auto;
    background-color: blueviolet;
}